ion-content {
  --background: url('../../assets/images/beach-clean.jpg') no-repeat center center fixed;
  --background-size: cover;
}

ion-card-header { 
  height: 10em;
  text-align: center;
}

ion-toolbar {
  --background: none;
}