ion-toolbar {
  position: fixed;
  --background: none;
  --border-color: transparent;
}

ion-menu-button {
  color: var(--ion-color-medium);
}

ion-button {
  --background-hover: var(--ion-color-secondary);
}