<ion-row>
  <ion-col size-xs="1" size-sm="1" size-md="2" size-lg="2" size-xl="3"></ion-col>
  <ion-col size-xs="10" size-sm="10" size-md="8" size-lg="8" size-xl="6">
    <ion-header class="ion-text-center ion-padding">
      Fill in All Fields, Then Click Submit.
    </ion-header>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmitForm()">
      <ion-item>
        <ion-label position="floating">Your First & Last Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Your Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>
      <ion-item class="message-item">
        <ion-label position="floating">Your Message to Gravity</ion-label>
        <ion-textarea type="text" maxlength="1300" auto-grow="true"
        formControlName="message"></ion-textarea>
      </ion-item>
      <div class="ion-text-center ion-padding-top">
        <ion-button color="secondary" type="submit" [disabled]="!contactForm.valid" >
          Submit
        </ion-button>
      </div>  
    </form>
  </ion-col>
  <ion-col size-xs="1" size-sm="1" size-md="2" size-lg="2" size-xl="3"></ion-col>
</ion-row>