<ion-row>
  <ion-col class="footer-format">
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="3" size-xl="3">
        <img (click)="goHome()" class="footer-logo" src="../../../../assets/images/Wavinghi-Logo3-150x150.png">
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="3" size-xl="3" 
      class="ion-text-center ion-align-self-center">
        <p>Waving Hi</p>
        <p>404-394-2596</p>
        <p>jeff.quigley@wavinghi.com</p>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
