<ion-header translucent="true">
  <app-my-menu></app-my-menu>
</ion-header>
<ion-content class="ion-padding ion-text-center">
  <img class="center-img" src="../../assets/images/Wavinghi-Logo3.png">
  <p class="text-shadow-ltblue">
      Waving Hi is a Web development company with a main focus of building Progressive Web Apps (PWA's), using Ionic 5, Angular 11, and
      Firebase.
    </p>
    <p class="text-shadow-ltblue">Since 2009, I've been helping people establish their unique web presence. Starting with just HTML and JavaScript, 
      my web building skills evolved using PHP, Ruby on Rails, AngularJS, and to the present platform and framework.
    </p>
    <p class="text-shadow-ltblue">
      Find out more! View my portfolio and contact information from the menu.</p>
    <p class="text-shadow-ltblue"><b>Let   </b><span class="company-name">Waving Hi</span><b>   bring your idea to life!</b></p>
</ion-content>
