<ion-header translucent="true">
  <app-my-menu></app-my-menu>
</ion-header>
<ion-content class="ion-padding ion-text-center">
    <img #mainLogoImg (click)="goToPortfolio()" class="main-logo-img" src="../../assets/images/Wavinghi-Logo3.png">
  <p class="text-shadow-ltblue">
      Waving Hi is a Web development company with a main focus of building Progressive Web Apps (PWA's), using Ionic 5, Angular 11, and
      Firebase.
    </p>
    <p class="text-shadow-ltblue">Since 2009, I've been helping people establish their unique web presence. Starting with just HTML and JavaScript, 
      my web building skills evolved using PHP, Ruby on Rails, AngularJS, and to the present platform and framework.
    </p>
    <p class="text-shadow-ltblue">
      Find out more! View my portfolio by clicking the logo above, or use the top-right menu.</p>
    <p class="text-shadow-ltblue"><b>Let   </b><span class="company-name">Waving Hi</span><b>   bring your idea to life!</b></p>
</ion-content>
